[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/themes/vex-hugo"]
	path = themes/themes/vex-hugo
	url = https://github.com/themefisher/vex-hugo
